@import 'nib'
@import '../values'
@import '../mixins'
@import './ios-check'
@import './group'

fieldset
  h-fieldset()

label
  h-label()

legend
  h-legend()

input:not([type="submit"]),
select,
textarea
  h-input()

textarea
  h-textarea()

select
  h-select()

@-moz-document url-prefix() {
  select {
    // Firefox don't apply appearance:none...
    // https://developer.mozilla.org/en-US/docs/CSS/-moz-appearance
    padding-top .25em
    padding-right 1px
    background none
  }
}

input[type="search"]
  h-search()
