@import 'nib'
@import '../values'
@import '../mixins'

$$input-height()
  box-sizing border-box
  height px2em(32)

// style input place holder
placeHolder(color)
  &:-ms-input-placeholder
    color color

  &::-webkit-input-placeholder
     color color

  &:-moz-placeholder /* Firefox 18- */
     color color

  &::-moz-placeholder  /* Firefox 19+ */
     color color