@import './values'
@import './mixins'

.h-input-append
  flex-row()

  input:not([type="submit"])
    flex 1

  .h-btn
    inset-button()
    padding 0 1em
    height 32px

// For positioning error tooltip :s
.h-input-group
  position relative