@import '../mixins/form-elements'

.h-label
  h-label()

.h-legend
  h-legend()

.h-input:not([type="submit"]),
.h-select,
.h-search,
.h-textarea
  h-input()

.h-fieldset
  h-fieldset()

.h-textarea
  h-textarea()

.h-select
  h-select()

.h-select-link
  h-select-link()

// TODO fix Strange indent on webkit
// TODO fix the reset button on webkit
// input[type="search"]
//   padding-left 0
.h-search
  h-search()
