// Shamefully paste from twitter bootstrap
@import 'nib'

$zindexPopover          = 1010
$popoverBackground      = #fff
$popoverArrowWidth      = 10px
$popoverArrowColor      = #fff
$popoverTitleBackground = darken($popoverBackground, 3%)

// Special enhancement for popovers
$popoverArrowOuterWidth = $popoverArrowWidth + 1
$popoverArrowOuterColor = rgba(0,0,0,.25)


// Arrows
// :before is outer, :after is inner

.h-popover
  position absolute
  top 0
  left 0
  z-index $zindexPopover
  max-width 276px
  padding 1px
  text-align left // Reset given new insertion method
  background-color $popoverBackground
  bg-cover()
  border 1px solid #ccc
  border 1px solid black(.2)
  box-shadow 5px 5px 0 black(.2)

  // Overrides for proper insertion
  white-space normal

  // Offset the popover to account for the popover arrow
  &.top
    margin-top -10px
  &.right
    margin-left 10px
  &.bottom
    margin-top 10px
  &.left
    margin-left -10px

  &:before,
  &:after
    position absolute
    display block
    width 0; height 0
    content ""
    border-color transparent
    border-style solid

  &:before
    border-width $popoverArrowOuterWidth

  &:after
    z-index 2
    border-width $popoverArrowWidth


  &.top
    &:before,
    &:after
      left 50%
      margin-left -($popoverArrowOuterWidth)
      border-bottom-width 0
      border-top-color $popoverArrowOuterColor
      bottom -($popoverArrowOuterWidth)
    &:after
      bottom 1 - $popoverArrowOuterWidth
      margin-left -($popoverArrowWidth)
      border-top-color $popoverArrowColor

  &.right
    &:before,
    &:after
      top 50%
      left -($popoverArrowOuterWidth)
      margin-top -($popoverArrowOuterWidth)
      border-left-width 0
      border-right-color $popoverArrowOuterColor
    &:after
      left 1 - $popoverArrowOuterWidth
      margin-top 1 - $popoverArrowOuterWidth
      border-right-color $popoverArrowColor

  &.bottom
    &:before,
    &:after
      left 50%
      margin-left -($popoverArrowOuterWidth)
      border-top-width 0
      border-bottom-color $popoverArrowOuterColor
      top -($popoverArrowOuterWidth)
    &:after
      top 1 - $popoverArrowOuterWidth
      margin-left -($popoverArrowWidth)
      border-bottom-color $popoverArrowColor

  &.left
    &:before,
    &:after
      top 50%
      right -($popoverArrowOuterWidth)
      margin-top -($popoverArrowOuterWidth)
      border-right-width 0
      border-left-color $popoverArrowOuterColor
    &:after
      right 1 - $popoverArrowOuterWidth
      margin-top 1 - $popoverArrowOuterWidth
      border-left-color $popoverArrowColor

.h-popover-title
  margin 0 // reset heading margin
  padding 8px 14px
  font-size 14px
  font-weight normal
  line-height 18px
  background-color $popoverTitleBackground
  border-bottom 1px solid darken($popoverTitleBackground, 5%)

  &:empty
    display none

.h-popover-content
  padding 9px 14px
