@import 'nib'
@import '../values'
@import '../mixins'

$$h-popover-title-background = darken($h-components-background, 3%)
$$h-popover-arrow-outer-width = $h-popover-arrow-width + 1

.h-popover
  position absolute
  top 0
  left 0
  z-index $h-popover-arrow-zindex
  max-width 276px
  padding 1px
  text-align left // Reset given new insertion method
  background-color $h-components-background
  bg-cover()
  border 1px solid $h-components-border
  box-shadow $h-components-depth $h-components-depth 0 rgba($h-components-shadow, 0.25)

  // Overrides for proper insertion
  white-space normal

  // Offset the popover to account for the popover arrow
  &.top
    margin-top -($$h-popover-arrow-outer-width)
  &.right
    margin-left $$h-popover-arrow-outer-width
  &.bottom
    margin-top $$h-popover-arrow-outer-width
  &.left
    margin-left -($$h-popover-arrow-outer-width)

  // Arrows
  // :before is outer, :after is inner
  &:before,
  &:after
    position absolute
    display block
    width 0; height 0
    content ""
    border-color transparent
    border-style solid

  &:before
    border-width $$h-popover-arrow-outer-width

  &:after
    z-index 2
    border-width $h-popover-arrow-width

  &.top
    &:before,
    &:after
      left 50%
      margin-left -($$h-popover-arrow-outer-width)
      border-bottom-width 0
      border-top-color $h-components-border
      bottom -($$h-popover-arrow-outer-width)
    &:after
      bottom 1 - $$h-popover-arrow-outer-width
      margin-left -($h-popover-arrow-width)
      border-top-color $h-popover-arrow-color

  &.right
    &:before,
    &:after
      top 50%
      left -($$h-popover-arrow-outer-width)
      margin-top -($$h-popover-arrow-outer-width)
      border-left-width 0
      border-right-color $h-components-border
    &:after
      left 1 - $$h-popover-arrow-outer-width
      margin-top 1 - $$h-popover-arrow-outer-width
      border-right-color $h-popover-arrow-color

  &.bottom
    &:before,
    &:after
      left 50%
      margin-left -($$h-popover-arrow-outer-width)
      border-top-width 0
      border-bottom-color $h-components-border
      top -($$h-popover-arrow-outer-width)
    &:after
      top 1 - $$h-popover-arrow-outer-width
      margin-left -($h-popover-arrow-width)
      border-bottom-color $h-popover-arrow-color

  &.left
    &:before,
    &:after
      top 50%
      right -($$h-popover-arrow-outer-width)
      margin-top -($$h-popover-arrow-outer-width)
      border-right-width 0
      border-left-color $h-components-border
    &:after
      right 1 - $$h-popover-arrow-outer-width
      margin-top 1 - $$h-popover-arrow-outer-width
      border-left-color $h-popover-arrow-color

.h-popover-title
  margin 0 // reset heading margin
  padding 8px 14px
  font-size 14px
  font-weight normal
  line-height 18px
  background-color $$h-popover-title-background
  border-bottom 1px solid darken($$h-popover-title-background, 5%)

  &:empty
    display none

.h-popover-content
  padding 9px 14px
