@import 'nib'
@import '../values'
@import './mixins'

.h-btn
  h-btn()
  h-btn-color($h-light-grey, $h-grey, $h-dark-grey)

  &.h-primary
    h-btn-color($h-light-blue, $h-blue, $h-dark-blue)

  &.h-danger
    h-btn-color($h-light-pink, $h-pink, $h-dark-pink)

  &[disabled],
  &.h-disabled
    cursor default
    opacity .65

  &.h-mini
  &.h-inset
    h-inset-button()

  &.h-mini
    padding 0 .5em
    font-size px2em(12)

  &.h-big
    font-size 2em
    padding em2em(.75em, @font-size) em2em(1.5em, @font-size)
