@import 'nib/vendor'
@import './values'

a,
a:visited
.h-link
  color $h-dark-blue
  text-decoration none
  transition color .25s

  &:hover
    color $h-blue

.h-link
  cursor pointer
  display inline
  background none
  border 0
