// take care of strange ident
assign(a, b)
  // p(a)
  // p(b)
  if a is defined and type(a) isnt 'ident'
    return a
  else
    return b


$h-fs = assign($fs, 16px) // Default font-size

$h-gutter       = 16px

$h-light-blue   = #73D8FF
$h-blue         = #00B7E0
$h-dark-blue    = #0078A6

$h-light-grey   = #f4f4f4
$h-grey         = #e3e3e3
$h-dark-grey    = #c2c2c2

$h-light-pink   = #ff4b95
$h-pink         = #DF006F
$h-dark-pink    = #96002b

// forms
$h-input-idle             = assign( $input-idle             ,$h-dark-grey)
$h-input-focus            = assign( $input-focus            ,$h-blue)
$h-input-invalid          = assign( $input-invalid          ,$h-pink)
$h-input-invalid-color    = assign( $input-invalid-color    ,$h-dark-pink)
$h-input-transition       = assign( $input-transition       ,.5s)

// buttons
$h-buttons-depth          = assign( $buttons-depth          ,2px)
$h-buttons-active-depth   = assign( $buttons-active-depth   ,0)

$h-buttons-light          = assign( $buttons-light          ,$h-light-grey)
$h-buttons-medium         = assign( $buttons-medium         ,$h-grey)
$h-buttons-dark           = assign( $buttons-dark           ,$h-dark-grey)

$h-buttons-primary-light  = assign( $buttons-primary-light  ,$h-light-blue)
$h-buttons-primary-medium = assign( $buttons-primary-medium ,$h-blue)
$h-buttons-primary-dark   = assign( $buttons-primary-dark   ,$h-dark-blue)

$h-buttons-danger-light   = assign( $buttons-danger-light   ,$h-light-pink)
$h-buttons-danger-medium  = assign( $buttons-danger-medium  ,$h-pink)
$h-buttons-danger-dark    = assign( $buttons-danger-dark    ,$h-dark-pink)

// components
$h-components-background  = assign( $components-background  ,white)
$h-components-shadow      = assign( $components-shadow      ,#000)
$h-components-border      = assign( $components-border      ,$h-dark-grey)
$h-components-depth       = assign( $components-depth       ,2px)

// popover specific
$h-popover-zindex         = assign( $popover-zindex         ,1010)
$h-popover-arrow-width    = assign( $popover-arrow-width    ,10px)
