@import 'nib'
@import './general'
@import '../values'

h-box()
  padding $h-gutter
  border 1px solid $h-components-border
  box-shadow $h-components-depth $h-components-depth 0 0 black(.25)
  background $h-components-background

h-box-inset()
  box-shadow inset $h-components-depth $h-components-depth 0 0 black(.15)
