@import 'nib'
@import './general'
@import '../values'

// Change colors
h-btn-color(lightColor, mediumColor, darkColor)
  if light(darkColor)
    color black
    text-shadow 1px 1px 0 blanc()
  else
    color white
    text-shadow -1px -1px 0 noir()

  background linear-gradient(rgba(darkColor, 0), darkColor)
  background-color mediumColor

  &:hover:not(.h-disabled):not([disabled])
    background-color lightColor

  &:active:not(.h-disabled):not([disabled])
    background-color darkColor

h-btn()
  font-size 1em; text-align center
  display inline-block;
  box-sizing border-box
  padding .75em 1.5em
  margin $h-buttons-depth 0 -($h-buttons-depth) $h-buttons-depth $h-buttons-depth
  vertical-align middle
  cursor pointer
  box-shadow $h-buttons-depth $h-buttons-depth 0 noir()
  border 1px solid
  border-color blanc(.75) noir(.25) noir() blanc()
  bg-cover()
  transform translate3d(-($h-buttons-depth), -($h-buttons-depth), 0)
  transform-origin bottom right
  transition background-color .25s, transform .15s, box-shadow .15s

  &:active:not(.h-disabled):not([disabled])
    transform translate3d(-($h-buttons-active-depth), -($h-buttons-active-depth), 0)
    box-shadow $h-buttons-active-depth $h-buttons-active-depth 0 noir(.75)
    outline 0

  .iconic
    font-size 1.5em
    line-height .5em
    vertical-align middle

h-inset-button()
  box-shadow none
  transform none
  margin 0

  &:active
    transform none
    border-color  noir() blanc() blanc(.75) noir(.25)
    box-shadow inset $h-buttons-active-depth $h-buttons-active-depth 0 noir(.25)
