// Shamefully pasted from
// https://github.com/jhardy/compass-ceaser-easing

h-ease($type = "ease") {
  // default is "ease"
  $easingValue = ".250, .100, .250, 1.000";

  if ($type ==  "linear") {
    $easingValue = ".250, .250, .750, .750";
  } else if ($type ==  "ease") {
    $easingValue = ".250, .100, .250, 1.000";
  } else if ($type ==  "ease-in") {
    $easingValue = ".420, .000, 1.000, 1.000";
  } else if ($type ==  "ease-out") {
    $easingValue = ".000, .000, .580, 1.000";
  } else if ($type ==  "ease-in-out") {
    $easingValue = ".420, .000, .580, 1.000";
  // easeIn
  } else if ($type ==  "easeInQuad") {
    $easingValue = ".550, .085, .680, .530";
  } else if ($type ==  "easeInCubic") {
    $easingValue = ".550, .055, .675, .190";
  } else if ($type ==  "easeInQuart") {
    $easingValue = ".895, .030, .685, .220";
  } else if ($type ==  "easeInQuint") {
      $easingValue = ".755, .050, .855, .060";
  } else if ($type ==  "easeInSine") {
    $easingValue = ".470, .000, .745, .715";
  } else if ($type ==  "easeInExpo") {
    $easingValue = ".950, .050, .795, .035";
  } else if ($type ==  "easeInCirc") {
    $easingValue = ".600, .040, .980, .335";
  } else if ($type ==  "easeInBack") {
    $easingValue = ".600, -.280, .735, .045";
  // easeOut
  } else if ($type ==  "easeOutQuad") {
    $easingValue = ".250, .460, .450, .940";
  } else if ($type ==  "easeOutCubic") {
    $easingValue = ".215, .610, .355, 1.000";
  } else if ($type ==  "easeOutQuart") {
    $easingValue = ".165, .840, .440, 1.000";
  } else if ($type ==  "easeOutQuint") {
    $easingValue = ".230, 1.000, .320, 1.000";
  } else if ($type ==  "easeOutSine") {
    $easingValue = ".390, .575, .565, 1.000";
  } else if ($type ==  "easeOutExpo") {
    $easingValue = ".190, 1.000, .220, 1.000";
  } else if ($type ==  "easeOutCirc") {
    $easingValue = ".075, .820, .165, 1.000";
  } else if ($type ==  "easeOutBack") {
    $easingValue = ".175, .885, .320, 1.275";
  // easeInOut
  }else if ($type ==  "easeInOutQuad") {
    $easingValue = ".455, .030, .515, .955";
  } else if ($type ==  "easeInOutCubic") {
    $easingValue = ".645, .045, .355, 1.000";
  } else if ($type ==  "easeInOutQuart") {
    $easingValue = ".770, .000, .175, 1.000";
  } else if ($type ==  "easeInOutQuint") {
    $easingValue = ".860, .000, .070, 1.000";
  } else if ($type ==  "easeInOutSine") {
    $easingValue = ".445, .050, .550, .950";
  } else if ($type ==  "easeInOutExpo") {
    $easingValue = "1.000, .000, .000, 1.000";
  } else if ($type ==  "easeInOutCirc") {
    $easingValue = ".785, .135, .150, .860";
  } else if ($type ==  "easeInOutBack") {
    $easingValue = ".680, -.550, .265, 1.550";
  }

  cubic-bezier(unquote($easingValue));
}