@import 'nib/vendor'
@import 'nib/flex'
@import '../values'

// Convert px to em, according to fs reference
px2em(px, ref = $h-fs)
  1em * px / ref

// Convert px to rem
px2rem(px, ref = $h-rs)
  1rem * px / ref

// rem font-size
// base should be 10px (like below)…
// html
//   font-size 62.5% // 10 px
// TODO should be configurable
// http://snook.ca/archives/html_and_css/font-size-with-rem
// http://csswizardry.com/2011/12/measuring-and-sizing-uis-2011-style/
rem-fs(size)
  font-size unit(size, 'px')
  font-size unit(size/10, 'rem')

// Change the way the browser smooth the font
// http://maximilianhoffmann.com/article/better-font-rendering-on-osx/
crisp-font-smoothing()
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale


// try to remove default style
// not working totally with select on Firefox & IE
reset-form()
  appearance none
  -moz-appearance none
  -webkit-appearance none

// style input place holder
// Firefox 18-
// Firefox 19+
placeHolder(color)
  &:-ms-input-placeholder
    color color
  &::-webkit-input-placeholder
    color color
  &:-moz-placeholder
    color color
  &::-moz-placeholder
    color color


// Fix conflict with saturate() stylus functions
css-filter(properties)
  vendor('filter', unquote(properties), only: webkit moz ms official)

// Add alpha chanel to white and black
blanc(opacity = 0.5)
  rgba(white, opacity)

noir(opacity = 0.5)
  rgba(black, opacity)

// Tile the background from borders
bg-cover()
  background-size cover
  background-clip border-box
  background-origin border-box

// Vertical align in a fixed height container
v-align()
  &:before,
  > *
    display inline-block
    vertical-align middle

  &:before
    content ' '
    width 0
    height 100%

// flex box row
flex-row()
  display flex
  align-content stretch
  flex-direction row

// Generate a stem
stem($$direction = "top", $$color = $h-components-border, $$width = .5em)
  display block
  width 0; height 0
  content "" // In case of pseudo elements
  border $$width solid transparent

  if $$direction == "right"
    border-right-width 0
    border-left-color $$color
  else if $$direction == "bottom"
    border-top-color $$color
    border-bottom-width 0
  else if $$direction == "left"
    border-left-width 0
    border-right-color $$color
  else
    border-top-width 0
    border-bottom-color $$color

// Absolute centering with variable size
// See http://css-tricks.com/centering-percentage-widthheight-elements/
percentCenter()
  position absolute; left 50%; top @left
  transform translate(-50%, -50%)

// get x & y with angle + distance
// cos & sin function take already care of angle unit
angle2xy($$angle = 0deg, $$distance = 1)
  x = $$distance * cos($$angle)
  y = $$distance * sin($$angle)
  return x y

// get top & left with angle + distance
// Shift is there to correct object size
angle2topLeft($$angle = 0deg, $$distance = 1em, $$shiftX = false, $$shiftY = false)
  $$shiftX = 0 unless $$shiftX
  $$shiftY = $$shiftX unless $$shiftY

  coords = angle2xy($$angle, $$distance)

  left $$shiftX + coords[0]
  top  $$shiftY - coords[1]

// Everyone need circles
circle()
  border-radius 666em
