@import 'nib'
@import '../values'

// Convert px to em, according to fs reference
px2em(px, ref = $h-fs)
  1em * px / ref

// Scale em relative to an em size
em2em(em, ref = 1)
  em / ref

// Change the way the browser smooth the font
// ! not working on FF
crisp-font-smoothing()
  -webkit-font-smoothing antialiased

// Fix conflict with saturate() stylus functions
css-filter(properties)
  vendor('filter', unquote(properties), only: webkit moz ms official)

// Add alpha chanel to white and black
blanc(opacity = 0.5)
  rgba(white, opacity)

noir(opacity = 0.5)
  rgba(black, opacity)

// Tile the background from borders
bg-cover()
  background-size cover
  background-clip border-box
  background-origin border-box

// Vertical align in a fixed height container
v-align()
  &:before,
  > *
    display inline-block
    vertical-align middle

  &:before
    content ' '
    width 0
    height 100%

// flex box row
flex-row()
  display flex
  align-content stretch
  flex-direction row
