@import './general'
// full page bg cover
// http://css-tricks.com/perfect-full-page-background-image/
bg-full-page(img)
  background url(img) no-repeat center center fixed
  bg-cover()
  // filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='%s', sizingMethod='scale')" % (img)


// Ie8 compatible matrix transform
t-matrix(a, c, b, d)
  transform matrix(a, c, b, d, 0, 0)
  // IE8 - The -ms-filter rule should be on one line
  // http://www.useragentman.com/IETransformsTranslator/
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=%s, M12=%s, M21=%s, M22=%s, SizingMethod='auto expand')" % (a b c d)