media-query-max(width)
  unquote("@media screen and (max-width: " + width + ") {")

media-query-min(width)
  unquote("@media screen and (min-width: " + width + ") {")

media-query-end()
  unquote("}")