// rem font-size
// base should be 10px (like below)…
// html
//   font-size 62.5% // 10 px
// TODO should be configurable
// http://snook.ca/archives/html_and_css/font-size-with-rem
// http://csswizardry.com/2011/12/measuring-and-sizing-uis-2011-style/
rem-fs($$size) {
  font-size: unit($$size, 'px');
  font-size: unit($$size/10, 'rem');
}

// Change the way the browser smooth the font
// http://maximilianhoffmann.com/article/better-font-rendering-on-osx/
crisp-font-smoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Gradient underline
// https://medium.com/designing-medium/crafting-link-underlines-on-medium-7c03a9274f9
underline(height = 14, color = #666665, size = 1) {
  height  = join('', height 'px/2px');
  // stylus doesn't variables inside calc
  size    = join('', 'calc(100% - 'size 'px)');
  background: 0  repeat-x;
  background-image: linear-gradient(to bottom, rgba(color, 0) unquote(size), color 50%);
}
