@import '../../values'

$$bg                  = rgba($h-components-background, 1)
$$bg-transparent      = rgba($h-components-background, 0)
$$shadow              = rgba($h-components-shadow, 0.4)
$$shadow-transparent  = rgba($h-components-shadow, 0)

h-scrollbox()
  background: linear-gradient(to bottom, $$bg 30%, $$bg-transparent),
    linear-gradient(to bottom, $$bg-transparent, $$bg 70%) 0 100%,
    radial-gradient(farthest-side at 50% 0, $$shadow, $$shadow-transparent),
    radial-gradient(farthest-side at 50% 100%, $$shadow, $$shadow-transparent) 0 100%;

  // other properties
  background-size 100% 40px, 100% 40px, 100% 14px, 100% 14px
  // Opera doesn't support this in the shorthand
  background-attachment local, local, scroll, scroll
  background-repeat no-repeat
  background-color $$bg
  height 20em
  overflow auto
